<ion-view view-title="Playlist">
    <ion-content>
        <div class="list">

            <div class="range range-dark">
                <i class="icon ion-play" ng-click="toggleState()" ng-class="{'ion-play': state.status === enums.state.ready, 'ion-pause': state.status === enums.state.playing}"></i>
                {{ getDuration((audio.filter.sourcePosition || 0) / (audio.buffer.sampleRate || 1)) | date: 'mm:ss' }}
                <input type="range" name="progress" ng-model="state.progress" min="0" max="{{state.duration}}" step="0.01" ng-change="seekTo(state.progress)" />
                {{ getDuration(state.duration) | date: 'mm:ss' }}
                <i class="icon ion-stop" ng-click="stopPlaying()"></i>
            </div>
            <div class="range range-assertive">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume" ng-model="audio.gainNode.gain.value" min="0" max="1" step="0.05" />
                <i class="icon ion-volume-high"></i>
            </div>



            <div class="item item-divider">
                {{sujet}} playlist number : {{param}}
            </div>
            
            <span ng-repeat="song in songs">
                <li class="item" ng-value="song" ng-click="play('{{song.link}}')">
                    {{song.name+' ('+song.band+')'}}
                </li>
            </span>

        </div>

    </ion-content>
</ion-view>
