<ion-view view-title="{{sujet}}">
    <ion-content>
        <div class="list">
            <div class="item item-divider">
                {{playlistName | capitalize}}
            </div>

            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search" ng-model="searchText">
            </label>

            <span ng-repeat="song in songs | filter : searchText">

                <label class="item item-radio" ng-value="song" ng-click="play('{{song.tracks[0].url}}')">
                    <input type="radio" name="group">
                    <div class="item-content">
                        {{song.name+' ('+song.band+')'}}
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

            </span>

        </div>

    </ion-content>

</ion-view>
